.container {
    margin-bottom: -50px;
}

.menu_image {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @media only screen and (min-width: 992px) {
        height: 335px;
    }
}

.menu_container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $background-lighter;
    padding: 20px;
    border-radius: 40px 40px 0 0;
    top: -50px;
}

.menu_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 24px;

        @media only screen and (min-width: 992px) {
            margin: 30px auto 20px auto;
            font-size: 30px;
        }
    }

    .fa-heart {
        font-size: 24px;
        padding-right: 10px;
    }
}

.menu_sections--container {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 992px) {
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
        align-items: baseline;
    }
}

.starters,
.main_dishes,
.desserts {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    gap: 15px;

    span {
        font-weight: 300;
        font-size: 16px;
        border-bottom: 3px solid transparent;
        padding: 5px 10px 5px 10px;

        &:after {
            content: '';
            position: absolute;
            width: 36px;
            height: 27px;
            left: 30px;
            border-bottom: solid 3px $tertiary-color;
        }
    }
}

.main_dishes,
.desserts {
    margin-top: 20px;
}

.button_link {
    margin: auto;
}