footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    background-color: $background-color2;
    color: white;

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        letter-spacing: 1px;
    }

    a {
        color: white;
    }
}