.menu_item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    padding: 12px;
    border-radius: 15px;
    background-color: white;

    &:hover {
        opacity: 0.8;
    }

    h4 {
        margin: 0;
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .menu_item--description  {
        width: 78%;
    
    p {
            margin: 5px 0 0 0;
            font-size: 15px;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}